/*Validated*/

.row {
    display: flex;
    flex-grow: 1;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin: 0 -1rem;
}

.col-33 {
    flex-basis: calc(100% / 3);
}

.col-50 {
    flex-basis: 50%;
}

.col-66 {
    flex-basis: calc(100% / 3 * 2);
}

.col-33, .col-50, .col-66 {
    padding: 0.5rem 1rem;
}

.popRight{
    order: 1;
}

@media (max-width: 64rem){
    .popRight{
        order: -1;
    }

    .row.checkout {
        flex-direction: column;
    }
}

@media (max-width: 40rem) {
    .row {
        flex-direction: column;
        align-content: stretch;
    }
}