/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 2rem;
}

.nav {
    display: flex;
    align-items: flex-end;
}

.nav.style-guide {
    align-items: center;
}

.element {
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: #191970;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}

h2 {
    margin-top: 4rem;
}

h3 {
    margin-top: 1rem;
    font-size: 1.25rem;
}

h4 {
    margin-bottom: 0.25rem;
}

p {
    margin-top: 0;
    font-size: 0.875rem;
}

a{
    text-decoration: none;
}

code {
    background-color: #F6F6F6;
    padding: 0.5rem;
    display: block;
    font-size: 0.75rem;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

.link {
    font-weight: bold;
    color: #0079ca;
    transition-property: color;
    transition-duration: 0.5s;
}

.link:hover, .link:focus {
    color: black;
}

/*
Styling for the navigation button
transition code from http://ianlunn.github.io/Hover/
*/
.nav-button, .info-block{
    display: inline-block;
    padding: 0.5rem;
    margin: 0.3rem 0 0.3rem 0.6rem;
    color: white;
    background-color: #0079ca;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    transition-property: opacity;
    transition-duration: 0.5s;
    font-size: 0.875rem;
    font-weight: bold;
}

.nav-button:hover, .nav-button:focus{
    opacity: 0.75;
}

.logo {
    width: 15rem;
    height: 8rem;
    object-fit: cover
}

/*
  TEXT ELEMENTS -------------------
*/




/*
  COMBINED ELEMENTS -------------------
*/

.main-nav, .info-display-main{
    display: flex;
    flex-grow: 1;
    flex-flow: row wrap;
    align-items: stretch;
    text-align: center;
    padding-bottom: 0.3rem;
    width: 50%
}

.main-nav a, .info-display-main a{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main-nav.style-guide *, .info-display-main.style-guide *{
    flex-grow: 1;
}

.product-list {
    display: flex;
    flex-flow: row wrap;
}

.product {
    min-width: 200px;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-grow: 0;
    flex-basis: 29%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.product-name {
    color: #0079ca;
    text-align: center;
    margin: auto;
}

.product-image img{
    max-height: 240px;
    width: 100%;
    object-fit: contain;
}

.product-name:hover, .product-image:hover {
    opacity: 0.75;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.product-price {
    margin-top: auto;
}

.form-payment {
    padding: 0 1rem;
}

.form-payment .col-50 {
    background-color: #F6F6F6;
}

.form-payment .row > .col-50 {
    margin-bottom: 1rem;
}

.form-payment label[for^="input"], .form-payment label[for="cc-type"]{
    display: block;
    margin-bottom: 0.625rem;
}

.form-payment input[type="text"], .form-payment select {
    margin-bottom: 1.25rem;
    padding: 5px 6px;
    width: 100%
}

.form-payment input[type="text"]:hover, .form-payment input[type="text"]:focus {
    border-color: #191970;
}

.form-button {
    width: 100%;
    margin: 0;
}

.cart {
    margin: 1rem auto;
}

.cart td, .cart th {
    padding: 0.5rem;
}

.cart th {
    font-weight: bold;
}

.cart tr:first-child {
    background-color: #191970;
    color: white;
}

.cart tr:nth-child(odd):not(:first-child){
    background-color: #F6F6F6;
}

.cart tr:nth-child(even){
    background-color: white;
}

.cart a {
    font-weight: bold;
    color: #0079ca;
    transition-property: color;
    transition-duration: 0.5s;
}

.cart a:hover, .cart a:focus {
    color: black;
}

.cartQuantity, .cartPrice {
    text-align: center;
}

/*
  OTHER ELEMENTS -------------------
*/

.sample-heading {
    margin-top: 0.83rem;
}

.colour {
    margin: 0;
}

.colour1 {
    display: block;
    background-color: #191970;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

.colour2 {
    display: block;
    background-color: #0079ca;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

.colour3 {
    display: block;
    background-color: #F6F6F6;
    padding: 2rem 0;
    text-align: center;
}

.images {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.images * {
    margin: 10px;
}

.banner{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

#feedback-form {
    display: flex;
    flex-direction: column;
}

.feedback-box{
    display: block;
    resize: none;
    flex-grow: 1;
    font-size: 12px;
}

#feedback-button{
    flex-basis: 50.5%;
}

.submit-button:hover, .submit-button:focus{
    opacity: 0.75;
}

#events-banner{
    padding: 1rem;
    background-color: #0089ca91; /*change colour*/
    color: white;
    text-align: center;
}

p.events-banner{
    margin-top: -1rem;
}

a.events-banner{
    color: white;
}

img.about{
    max-width: 98%;
}

ul.contact-info{
    list-style-type: none;
    padding-left: 0;
}

.centre-title{
    text-align: center;
}

@media (max-width: 48.4375rem) {
    .main-nav.style-guide *, .info-display-main.style-guide *{
        flex-basis: 29%;
    }
}

@media (max-width: 47.5rem) {
    .product {
        flex-basis: 46%;
    }
}

@media (max-width: 40rem) {
    .form-payment.left {
        padding: 0;
    }

    .form-payment.right {
        padding: 0;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        display: block;
        margin: auto;
    }

    .main-nav, .info-display-main {
        width: 100%;
    }

    .main-nav *, .info-display-main *{
        flex-basis: 100%;
    }
}

@media screen and (max-width: 32.8125rem) {
    .product {
        flex-grow: 0;
        flex-basis: 75%;
    }

    .product-list {
        justify-content: center;
    }
}